.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 8px 0 8px;
}

.img-experiencia {
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  flex: 2;
}

.div-detalhes-experiencia {
  margin-left: 16px;
  text-align: left;
  flex: 5;
}
