.img-qualidade{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    transform: scale(1);
    transition: all 1s;
}

.img-qualidade:hover{
    transform: scale(1.5);
    transition: all 1s;
}

.div-img-qualidade{
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
}