.img-qualidade {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  transform: scale(1);
  transition: all 1s;
}

.img-qualidade:hover {
  transform: scale(1.5);
  transition: all 1s;
}

.div-img-qualidade {
  border: solid black 2px;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

@media only screen and (min-width: 500px) {
  .div-qualidade {
    display: inline-block;
    margin-right: 16px;
  }
}

@media only screen and (min-width: 659px) {
  .titulo-qualidade {
    display: block !important;
    color: grey;
    font-weight: bold;
    font-size: 1.5em;
  }
}
